<div class="showContainer">

	<h1><%= @question.text %></h1>

	<div id="questionGraph">

	</div>

	<table class="table">
		<col width="20%">
		<col width="20%">
		<col width="40%">
		<col width="20%">
		<th> Date</th>
		<th>Value</th>
		<th>Note</th>
		<th class="colRight">Action</th>
		<% @answers.each do |a| %>
			<tr>
				<td><%= a.date %></td>
				<td><%= a.value %></td>
				<td><%= a.note %></td>
				<td align="right">
					<%= link_to "Edit", edit_question_answer_path(@question.id, a.id) %>
					<%= link_to "Delete", question_answer_path(@question.id, a.id), method: :delete, data: {confirm: 'Are you sure you want to delete this data point?'} %></td>
			</tr>
		<% end %>
	</table>

	<div class="linkActions">

		<%= link_to "Add a data point", new_question_answer_path(@question.id) %>

		<%= link_to "Delete Question", :question, method: :delete, data: {confirm: 'Are you sure you want to delete this question?'} %>

		<%= link_to "Back to Questions", questions_path %>

	</div>

</div>