<%= include_gon %>
  

<div class="showContainer">

	<!-- Title -->

	<div class="questionTitleDiv">
		<h1><%= @question.text %></h1>

	</div>

	<!-- Most recent data div -->

	<% if @answers.length > 1 %>

		<div class="mostRecentDataDiv">
			
			<h2>Most Recent Data</h2>

				<div class="row">
				
					<div class="col-sm-6">
						<div id="mostRecent">
							<div class="mostRecentData"><%= @recent_answer %></div>
							<div class="mostRecentUnits"><%= @question.units %></div>
						</div>
					</div>
					<div class="col-sm-6">
						<div id="averageGraph"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<!-- In the JavaScript, there is a function called latestToAvg that creates a string to go in here. -->
						<!-- That string will say "Your latest value of [value] was [amount difference] [greater than/less than/equal to] your average value of [average value]" -->
						<div id="averageData">
							Your latest score of <span id="latestDataValue">
							</span> was <span id="avgDifference"></span> your average of
							<span id ="dataAvg">
							</span>.
						</div>
					</div>
				</div>
			
			</div>

	<!-- Div for highest and lowest data values -->

	<div class="highLowContainer">

		<h2>Highs and Lows</h2>

	
		<div class="highLowRows">
			

			<div class="row">
				
				<!-- Low Data Point Column -->

				<div class="highLowCol col-sm-4">
					Lowest Data Point
					<div class="row">
						<div class="col-sm-12">
							<div class="dataValue">
								<div id="minValue"></div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="highLowCircle" id="lowCircle"></div>
							</div>
							<div class="bottomRow row">
								<div class="col-sm-12">
									last achieved on:<br>
									<div id="minValueDate">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Latest Data Point Column -->

				<div class="highLowCol col-sm-4">
					Most Recent Data Point
					<div class="row">
						<div class="col-sm-12">
							<div class="dataValue">
								<div id="mostRecentValue"></div
							</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="highLowCircle" id="latestCircle"></div>
								</div>
								<div class="bottomRow row">
									<div class="col-sm-12">
										achieved on:<br/>
										<div id="mostRecentDate"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Highest Data Point Column -->

				<div class="highLowCol col-sm-4">
					Highest Data Point
					<div class="row">
						<div class="col-sm-12">
							<div class="dataValue">
								<div id="maxValue"></div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="highLowCircle" id="highCircle"></div>
							</div>
							<div class="bottomRow row">
								<div class="col-sm-12">
								last achieved on:<br>
									<div id="maxValueDate">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Div for past week data -->

	<div class="twoWeekContainer">

		<h2>Previous Two Weeks</h2>

		<div class="twoWeekGraphContainer">
			<div id="twoWeekGraph">

			</div>
		</div>

	</div>


	<!-- If there is no recent data, notify user -->

	<% else %>
		<div class="missingData">
			<div class="col-sm-12"><%= link_to "Add Data to Get Started", new_question_answer_path(@question.id) %></div>
		</div>
	<% end %>

	<div class="linkActions">

		<%= link_to "Add a data point", new_question_answer_path(@question.id) %>

		<%= link_to "Edit Question", edit_question_path(@question.id) %>

		<%= link_to "Delete Question", :question, method: :delete, data: {confirm: 'Are you sure you want to delete this question?'} %>

		<%= link_to "Back to Questions", questions_path %>

	</div>

</div>