<div class="showContainer">

	<h1><%= @question.text %></h1>

	<div id="questionGraph">

	</div>

	<table class="table">
		<col width="20%">
		<col width="20%">
		<col width="40%">
		<col width="20%">
		<th> Date</th>
		<th>Value</th>
		<th>Note</th>
		<th class="colRight">Action</th>
		<% @answers.each do |a| %>
			<tr>
				<td><%= a.date %></td>
				<td><%= a.value %></td>
				<td><%= a.note %></td>
				<td align="right">
					<%= link_to "Edit", edit_question_answer_path(@question.id, a.id) %>
					<%= link_to "Delete", question_answer_path(@question.id, a.id), method: :delete, data: {confirm: 'Are you sure you want to delete this data point?'} %></td>
			</tr>
		<% end %>
	</table>

	<div class="linkActions">

		<%= link_to "Add a data point", new_question_answer_path(@question.id) %>

		<%= link_to "Delete Question", :question, method: :delete, data: {confirm: 'Are you sure you want to delete this question?'} %>

		<%= link_to "Back to Questions", questions_path %>

	</div>

	<%= javascript_tag do %>


		window.onload = setTimeout(function(){  //must set timeout due to lag in rails app

			var data = gon.question_json;


			var w = document.getElementById("questionGraph").offsetWidth;
			var h = document.getElementById("questionGraph").offsetHeight;
			var padding = 5;

			//Need to count range of days to account for missing days in the graph

			var yScale = d3.scale.linear()
						.domain([0, d3.max(data, function(d) { return d.value })])
						.range([0, h]);

			var svg = d3.select("#questionGraph")
						.append("svg")
						.attr("width", w)
						.attr("height", h);

			svg.selectAll("rect")
						.data(data)
						.enter()
						.append("rect")
						.attr("x", function(d, i) {
							return i * (w / data.length);
						})
						.attr("y", function(d) {
							return h - yScale(d.value);
						})
						.attr("width", w / data.length - padding)
						.attr("height", function(d) {
							return yScale(d.value);
						})
						.attr("fill", "rgb(0,0,255)");

		}, 0001);
	<% end %>

</div>