



<div class="newSessionPage"> <!-- Contains the entire page -->

	<div class="aboutContainer">

		<div class="aboutHead">
			Data-ry :
		</div>

		<div class="aboutText">
			a daily personal data visualization app. Track your daily activity and see it visualized.
		</div>

	</div>


	<div class="loginContainer">

		<h1>Log In</h1>

		<%= form_for @user, {url: session_path} do |f| %>
			<%= f.text_field :email, :class =>'inputField', placeholder: "Email" %>
			<%= f.password_field :password, :class =>'inputField', placeholder: "Password" %>
			<%= f.submit "Log In", :class => 'inputButton' %>
		<% end %>

		<%= button_to "Sign Up", new_user_path, :method => :get, :class => 'inputButton' %>

	</div>

</div>