<div class="newQuestionContainer">

	<div class="answerInfoContainer">

		<h1>Edit data point for <%= @answer.date %></h1>

			<% if @answer.errors.any? %>
				<div id="error_explanation">
					<h3>Please fix the following <%= "error".pluralize(@answer.errors.count) %> to edit this data point:</h3>
					<ul>
						<% @answer.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
					</ul>
				</div>
			<% end %>
			
			<div class="answerFormContainer">

				<%= form_for [@question, @answer] do |f| %>
					Value: <%= f.number_field :value, :step => "any", :class => "inputField inputValue", placeholder: "Value" %><br>
					Note: <%= f.text_field :note, :class => "inputField inputNote", placeholder: "Note" %>
					<div class="buttonCenter" ><%= f.submit "Update", :class => 'inputButton' %>
					</div>
				<% end %>

				<div class="linkActions">

					<%= link_to "Cancel", question_path(@question) %>
					<%= link_to "Delete", question_answer_path(@question.id, @answer.id), method: :delete, data: {confirm: 'Are you sure you want to delete this data point?'} %>

				</div>

			</div>

	</div>

</div>