<div class="showAnswerContainer">

	<div class="answerInfoContainer">

		<h1>Input a new data point</h1>

			<% if @answer.errors.any? %>
				<div id="error_explanation">
					<h3>Please fix the following <%= "error".pluralize(@answer.errors.count) %> to add a new data point:</h3>
					<ul>
						<% @answer.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
					</ul>

				</div>
			<% end %>

			<div class="answerFormContainer">

				<%= form_for [@question, @answer] do |f| %>
					Date: <%= f.date_field :date, :class => "inputField inputDate" %><br>
					Value: <%= f.number_field :value, :step => "any", :class => "inputField inputValue", placeholder: "Value" %><br><br>
					Note: <%= f.text_field :note, :class => "inputField inputNote", placeholder: "Note" %>
					<div class="buttonCenter" ><%= f.submit "Add", :class => 'inputButton' %>
					</div>

				<% end %>

				

		</div>

	</div>

	<div class="linkActions">

		<%= link_to "Cancel", question_path(@question) %>

	</div>

</div>